.App {
    text-align: center;
    padding: 20px;
}

.app-container {
    position: relative;
    text-align: center;
    padding: 20px;
}

.tomato-basket {
    position: absolute; /* Allow positioning relative to the container */
    top: 25px;          /* Distance from the top */
    right: 25px;        /* Align to the right side of the page */
    width: 50px;        /* Adjust width as needed */
    height: auto;       /* Maintain aspect ratio */
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(43, 8, 8);
}

.timer-container {
    max-width: 400px;
    height: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #cadcf1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.timer-display {
    font-size: 4em;
    margin-bottom: 200px;
    font-weight: bold;
}

.timer-buttons {
    margin-top: 20px;
}

.timer-buttons button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background-color: #913d9e;
    color: white;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.timer-buttons button:hover {
    background-color: #0056b3;
}

/* Tomato count display inside the basket */
.tomato-count {
    position: absolute;
    top: 20px;
    right: 70px; /* Adjust according to basket's position */
    display: flex;
    flex-wrap: wrap; /* Allows the tomatoes to go to the next line if too many */
}

.tomato-image {
    width: 20px; /* Adjust size of tomatoes */
    height: auto;
    margin-left: 5px; /* Spacing between tomatoes */
    margin-bottom: 5px; /* Vertical spacing if they wrap */
}
